@import "../../styles/variables";

.meet-link-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 2rem;
  background-color: $--color-white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo {
    .img {
      width: 35px;
      height: 35px;
    }
    span {
      font-size: 1.5rem;
    }
  }

  .logout-btn {
    width: 140px;
    height: 45px;
    color: #5d7285;
    background-color: $--color-white;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: $--color-steel-gray;
      box-shadow: 0px 15px 20px $--color-steel-gray;
      color: #fff;
      transform: translateY(-7px);
    }
  }

  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 1rem;
  }

  .nav-list a {
    position: relative;
    color: #5d7285;
    display: block;
    text-decoration: none;

    &::before {
      content: "";
      width: 0;
      height: 3px;

      border-radius: 20px;
      position: absolute;
      bottom: 0;

      transition: position 350ms linear;
    }

    &:hover::before {
      content: "";
      width: 100%;
      height: 3px;

      border-radius: 20px;
      position: absolute;
      bottom: 0;

      background-color: $--body-bg;
      transition: all 450ms linear;
    }
  }

  .nav-list .li {
    display: flex;
    align-items: center;
    gap: 15px;

    padding-block: 1rem;
    padding-inline: 2rem;
    margin-inline: 2rem 0;
    /* prevent animation glitch on right side */
    box-shadow: 2px 0 0 $--body-bg;
  }

  .nav-list .li.active {
    display: flex;
    align-items: center;
    gap: 15px;

    background: $--body-bg;
    position: relative;
    z-index: -1;
    border-radius: 100vw 0 0 100vw;
  }

  .nav-list .li.active::before,
  .nav-list .li.active::after {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0rem;
    background: $--color-white;
  }

  .nav-list .li.active::before {
    border-radius: 0 0 1rem;
    top: calc(1rem * -1);
    box-shadow: 5px 5px 0 5px $--body-bg;
  }

  .nav-list .li.active::after {
    border-radius: 0 1rem 0 0;
    bottom: calc(1rem * -1);
    box-shadow: 5px -5px 0 5px $--body-bg;
  }
}
