@import "../../styles/variables";

.meet-link-create-meet {
  padding: 70px 10px 50px 10px;

  .title {
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
  }

  .form {
    display: flex;
    align-items: flex-end;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;

    width: 100%;
  }

  .form-label {
    color: #3c3a2d;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;

    width: 100%;
  }

  .form-control {
    width: 100%;
    color: #3c3a2d;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    padding: 10px;
    margin-top: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .img-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    margin-left: 65px;

    .parent {
      width: 450px;
      margin: auto;
      padding: 2rem;
      background: #ffffff;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      img {
        width: 180px;
        height: 180px;
        object-fit: contain;
      }
    }

    .file-upload {
      text-align: center;
      border: 3px dashed rgb(210, 227, 244);
      padding: 1.5rem;
      position: relative;
      cursor: pointer;
    }

    .file-upload p {
      font-size: 0.87rem;
      margin-top: 10px;
      color: #bbcada;
    }

    .file-upload input {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  .create-btn {
    margin-top: 70px;
    padding: 15px 70px;
    border-radius: 20px;
    background: $--purple;
    color: $--color-white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 250ms linear;

    &:hover {
      color: $--color-black;
      background-color: $--registration-form;
      transition: all 250ms linear;
    }
  }

  .user-add {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  @media (min-width: $--sm) {
    padding: 50px 50px 50px 0px;
  }
}
