@import "../../../styles/variables";

.meet-link-auth {
  .meet-link-auth-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    height: 103vh;
    color: rgba(0, 0, 0, 0.624);
    background-color: $--registration-form;

    .content {
      width: 100%;
      height: auto;
      padding: 45px;

      .title {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 28px;

        @media screen and (min-width: $--md) {
          font-size: 25px;
        }
      }

      .form {
        display: flex;
        flex-direction: column;

        &-label {
          display: flex;
          flex-direction: column;

          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 28px;
        }

        &-control {
          width: 100%;
          height: 60px;
          flex-shrink: 0;
          background: #fdfdfd;
          box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.12);
          margin-top: 23px;
        }

        &-label-checkbox {
          display: flex;
          align-items: center;
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          margin-bottom: 36px;
        }

        .remember-me-btn {
          width: 17px;
          height: 17px;
          border-radius: 10px;
          margin-right: 15px;
        }

        @media (min-width: 1135px) {
          align-items: center;

          &-control {
            width: 460px;
          }
        }
      }

      .login-btn {
        width: 100%;
        height: 100%;
        padding: 15px 110px;
        border-radius: 10px;
        border: none;
        color: $--color-white;
        background: $--color-login-btn;
        transition: all 350ms linear;

        &:hover {
          border: 1px solid $--color-login-btn;
          color: $--color-black;
          background: $--color-white;
          transition: all 350ms linear;
        }

        @media (min-width: 768px) {
          width: 296px;
        }
      }

      a {
        text-decoration: none;
      }

      .register-page {
        display: flex;
        align-items: center;
        margin-top: 50px;

        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 20px;
        gap: 10px;

        span {
          color: #90aadb;
          font-size: 19px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px;
        }
      }

      @media (min-width: $--md) {
        height: 650px;

        border-radius: 0px 30px 30px 0px;
        box-shadow: 0px 0px 59px 10px rgba(255, 255, 255, 0.2) inset;
        background: rgba(255, 255, 255, 0.21);
      }

      @media (min-width: 1135px) {
        width: 558px;
        height: 650px;
      }
    }
  }

  .meet-link-auth-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    width: 100%;
    height: 103vh;
    background-color: $--registration-wrapper;

    .content {
      width: auto;
      height: 650px;
      padding: 45px;

      border-radius: 30px 0px 0px 30px;
      background: rgba(255, 255, 255, 0.21);
      box-shadow: 0px 0px 59px 10px rgba(255, 255, 255, 0.2) inset;

      .title {
        font-weight: 500;
        text-transform: uppercase;
        font-size: 25px;

        @media (min-width: 431px) {
          font-size: 15px;
        }

        @media screen and (min-width: $--sm) {
          font-size: 20px;
        }

        @media screen and (min-width: $--md) {
          font-size: 25px;
        }
      }

      .charity-img {
        width: 400px;
        height: 422px;
      }

      @media (min-width: 1135px) {
        width: 558px;
        height: 650px;

        .charity-img {
          width: auto;
          height: auto;
        }
      }
    }
  }

  .return-home {
    position: absolute;
    top: 10px;
    left: 30px;

    a {
      text-decoration: none;
    }

    span {
      font-family: inherit;
      font-weight: 700;
      font-size: $--font-size-small;
      line-height: 18px;
      color: $--color-black-60;

      &:hover {
        color: white;
      }
    }

    .icon-arrow-left {
      width: 16px;
      height: 16px;
      background-image: url("../../../assets/arrow-left.svg");

      &:hover {
        fill: white;
      }
    }
  }
}
