@import "../../../../styles/variables";

.meet-link-meet {
  width: 100%;
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: row;
  gap: 10px;
  transition: all 250ms linear;

  // padding: 15px;
  // @media (min-width: $--sm) {
  //   .container {
  //     padding: 10px 0 0 0;
  //   }
  // }
}
