@import "../../../../styles/variables";

.meet-link-meet {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  transition: all 250ms linear;

  // padding: 15px;
  // @media (min-width: $--sm) {
  //   .container {
  //     padding: 10px 0 0 0;
  //   }
  // }

  @media (min-width: $--sm) {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  @media (max-width: $--md) {
    position: relative;
  }
}
