@import "../../../styles/variables";

.about {
  font-family: "Inter", sans-serif;
  color: $--color-white;

  font-style: normal;
  line-height: 1.5;
  position: relative;

  video {
    width: 100%;
    height: 100%;
  }

  .tex_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    min-width: 360px;

    .title {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 25px;

      @media (min-width: 431px) {
        font-size: 15px;
      }

      @media screen and (min-width: $--sm) {
        font-size: 20px;
      }

      @media screen and (min-width: $--md) {
        font-size: 25px;
      }

      @media screen and (min-width: $--lg) {
        font-size: 35px;
      }
    }

    .footer_text {
      font-weight: 400;
      font-size: 15px;
      margin: 0 0 25px 0;

      @media (min-width: 431px) {
        font-size: 10px;
        margin: 0 0 5px 0;
      }

      @media screen and (min-width: $--sm) {
        font-size: 15px;
      }

      @media screen and (min-width: $--md) {
        margin: 50px 0 70px 0;
        font-size: 20px;
      }
    }

    @media (min-width: 431px) {
      min-width: none;
    }
  }

  .btn {
    width: 150px;
    height: 30px;
    border: 1px salmon;
    border-radius: 25px;
    background-color: #e49d08;
    transition: all 250ms linear;
    font-size: 10px;

    &:hover {
      background-color: $--color-royal-blue;
      box-shadow: 19px 20px 20px $--purple;
      transition: all 250ms linear;
    }

    @media screen and (min-width: $--md) {
      width: 250px;
      height: 50px;
      font-size: 15px;
    }
  }
}
