@import "../../../styles/variables";

.about_chat {
  margin: 450px 0 0 0;

  @media (min-width: 375px) {
    margin: 250px 0 0 0;
  }
  @media (min-width: 414px) {
    margin: 275px 0 0 0;
  }

  @media (min-width: $--lg) {
    margin: 350px 0 0 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 20px;
    min-height: 600px;

    flex-wrap: wrap;
    gap: 50px;

    @media (min-width: $--md) {
      padding: 0;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 0px;
      padding: 50px 20px;
    }
  }

  .about_chat_img {
    .chat_img {
      width: 100%;
      height: 100%;
    }
  }

  .about_chat_tex {
    max-width: 500px;
    text-align: center;
    color: $--color-white;

    &_header {
      // font-family: Oxanium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      text-shadow: 2px 4px 11px $--purple;
    }

    &_title {
      // font-family: Oxanium;
      font-size: 25px;
      font-weight: 800;
      text-transform: uppercase;
      line-height: normal;
      margin: 35px 0 15px 0;
    }

    &_footer {
      // font-family: Oxanium;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    @media (min-width: $--md) {
      max-width: 310px;
      text-align: left;

      &_title {
        font-size: 25px;
      }
    }

    @media (min-width: $--lg) {
      max-width: auto;
    }

    @media (min-width: $--xl) {
      max-width: 500px;
    }
  }
}
