@import "../src/styles/variables.scss";

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to right top,
    #d3d8df,
    #bbc8dc,
    #a4b9d9,
    #8ea9d6,
    #7899d3,
    #698ac6,
    #597bb8,
    #4a6cab,
    #3e5b91,
    #324b78,
    #273b60,
    #1c2c49
  );
  color: $--color-white;
}

.privateRoute {
  margin: 0;
  background: $--body-bg;
  color: $--color-black;

  @media (min-width: $--sm) {
    padding-inline-start: 17rem;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $--color-white;

  .container {
    max-width: 1304px;
  }
}

h1,
ul,
p {
  margin: 0;
}
